#stations rect {
    stroke: black;
    fill: white;
    rx: 3;
}

#stations rect.helper {
    stroke: none;
    fill: none;
}

#lines path {
    stroke: black;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

svg {
    background-color: white;
}