@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

#stations rect {
    stroke: black;
    fill: transparent;
    rx: 3;
    stroke-width: 1;
}

#stations rect.helper {
    stroke: none;
    fill: none;
}

#elements path {
    stroke: black;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#elements text {
    visibility: hidden;
}

svg {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.e2h {
    stroke-dasharray: 12 4;
}

.e4h {
    stroke-dasharray: 6 4;
}

.some {
    stroke-dasharray: 1 4;
}

#epoch-label {
    font-size: 50px;
    font-weight: bold;
    text-anchor: end;
    dominant-baseline: hanging;
}