#stations rect {
    stroke: black;
    fill: white;
    rx: 3;
    stroke-width: 1;
}

#stations rect.helper {
    stroke: none;
    fill: none;
}

#elements path {
    stroke: black;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#elements text {
    font-family: sans-serif;
    visibility: hidden;
}

svg {
    background-color: white;
}

.e2h {
    stroke-dasharray: 12 4;
}

.e4h {
    stroke-dasharray: 6 4;
}

.some {
    stroke-dasharray: 1 4;
}