@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

#stations rect {
    stroke: black;
    fill: white;
    rx: 3;
    stroke-width: 1;
}

#stations rect.helper {
    stroke: none;
    fill: none;
}

path {
    stroke: black;
    stroke-width: 3;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
}

#elements text {
    visibility: hidden;
}

svg {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.e2h {
    stroke-dasharray: 12 4;
}

.e4h {
    stroke-dasharray: 6 4;
}

.some {
    stroke-dasharray: 1 4;
}

#epoch-label-bg {
    fill:white;
    stroke: black;
    stroke-width: 5px;
}

#epoch-label {
    font-size: 70px;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
}

.for-line {
    overflow: visible;
    white-space: nowrap;
    font-weight: bold;
}

.for-line * {
    display: inline-block;
}

.for-line div * {
    border-radius: 50%;
    width: 12px;
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    margin-right: 2px;
    text-align: center;
}

.ICE11 {
    stroke:#ee1d23;
    background-color: #ee1d23;
    color: white;
}

.ICE25 {
    stroke:#b0abd4;
    background-color: #b0abd4;
}

.ICE21 {
    stroke:#39b97a;
    background-color: #39b97a; 
    color: white;
}

.ICE20 {
    stroke:#f5c700;
    background-color: #f5c700;
}

.ICE1 {
    stroke:#39b97a;
    background-color: #39b97a;
    color: white;
}

.ICE7 {
    stroke:#8dd7f7;
    background-color: #8dd7f7;
}

.ICE5 {
    stroke:#0095da;
    background-color: #0095da;
    color: white;
}

.ICE87, .ICE78 {
    stroke:#f48232;
    background-color: #f48232;
    color: white;
}

.ICE10 {
    stroke:#b41e8d;
    background-color: #b41e8d;
    color: white;
}

.ICE28 {
    stroke:#8dd7f7;
    background-color: #8dd7f7;
}

.ICE50 {
    stroke:#a8a9ad;
    background-color: #a8a9ad;
    color: white;
}

.ICE65 {
    stroke:#ee1d23;
    background-color: #ee1d23;
    color: white;
}